body {
  background-image: linear-gradient(to right, #fe8f8f, #a0d1ff);
}
.hide {
  display: none;
}
.topnav {
  overflow: hidden;
  background-color: transparent;
}

.pokemon_logo {
  width: 160px;
  height: 50px;
}

.topnav img {
  float: left;
  display: block;
  color: black;
  padding: 14px 16px;
}

.topnav .search-container {
  float: right;
  margin-top: 10px;
}

.topnav input[type="search"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 2px solid black;
  background: transparent;
}

.topnav .search-container {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 25px;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

/*.topnav .search-container button:hover {
  background: transparent; 
} */

@media screen and (max-width: 600px) {
  .topnav .search-container {
    text-align: center;
  }
  .topnav input[type="search"],
  .topnav .search-container {
    float: center;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 14px;
    margin-left: 65px;
    margin-right: 50px;
  }
  .topnav img {
    text-align: center;
    margin-left: 22%;
  }
  .topnav input[type="search"] {
    border: 2px solid black;
  }
}
.section {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  margin-top: 40px;
}
li {
  display: inline-block;
  margin-top: 50px;
  margin-right: 22px;
  margin-left: 37px;
  text-align: center;
}
.button-class {
  padding: 16px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 2px;
  width: 200px;
  cursor: pointer;
  background-color: black;
  color: white;
  border: 5px solid white;
  border-radius: 20px 40px;
}
.button-class:hover {
  background-color: transparent;
}

.page-footer {
  text-align: center;

  clear: both;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
}
.social-icons {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0px;
}

@media screen and (max-width: 480px) {
  li {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-right: 60px;
  }
}
@media screen and (max-width: 850px) {
  li {
    display: inline-block;
    text-align: center;
    margin-left: 70px;
    margin-right: 60px;
  }
}
